
#review-box .new-review {
  margin-bottom: 40px;
}

#review-box .pseudo-text-box {
  box-sizing: border-box;
  min-height: 300px;
  max-width: 630px;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 630px;
}

.review-head {
  margin-bottom: 15px;
}

.review-user {
  font-weight: bold;
}

.review-subhead {
  display: flex;
}

.review-date {
  display: flex;
  margin-right: 20px;
  color: #999999;
}

.review-body {
  min-height: 100px;
  margin-bottom: 20px;
}

.review-submit {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #F22B56;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.review-submit:hover {
  background: #F20B36;
}
.review-tools {

}

.review-tools button:first-child {
  margin-right: 10px;
}

.review-edit,
.review-delete {
  background: #CCCCCC;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
}

.review-edit:hover,
.review-delete:hover {
  background: #999999;
}
