/* TODO Add site wide styles */
html {
  background: #FFFFFF;
  margin: 0;
}

body {
  position: relative;
  top: 0;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
}

button {
  cursor: pointer;
}
.small-button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #FFFFFF;
  background: #F22B56;
  cursor: pointer;
  transition: background 0.2s;
}
.small-button:hover {
  background: #F20B36;
}
.small-button-plain {
  background: #CCCCCC;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
}

.small-button-plain:hover {
  background: #999999;
}
