/* TODO Add site wide styles */
html {
  background: #EEEEEE;
  margin: 0;
}

body {
  position: relative;
  top: 0;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 30px 20px;
}
