#booking-container {
  margin-top: 30px;
}

#booking-images,
#booking-images .spot-image {
  display: flex;
}

#booking-images .image-wrapper {
  max-width: 500px;
  overflow: hidden;
}

#booking-images img {
  max-height: 340px;
}

#booking-owner {

}

#booking-form {

}
